
  <nav class="navbar navbar-light bg-light shadow-sm">
    <div class="d-flex px-4">
      <button class="navbar-toggler mx-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCourses" aria-controls="navbarCourses" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="../assets/assets/img/icons/googlelogo_clr_74x24px.svg"> <span class="text-muted small">&nbsp;Classroom</span>
      </a>
    </div>
    <div id="tabs" style="display: none;">
      <span id="tab-clase" onclick="showTab('clase', 'tab-clase')" class="p-3 mx-2 tab-option active">Clase</span>
      <span id="tab-asignaciones" onclick="showTab('asignaciones', 'tab-asignaciones')" class="p-3 mx-2 tab-option">Asignaciones</span>
      <span id="tab-participantes" onclick="showTab('participantes', 'tab-participantes')" class="p-3 mx-2 tab-option">Participantes</span>
    </div>
    <div class="mx-4 pt-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarInstructors" aria-controls="navbarInstructors" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../assets/assets/img/profile-pics/goku.jpg" class="rounded-circle pp-small">
    </div>
  </nav>

  <!-- Area colapsable de las miniaturas de los cursos -->
  <div class="collapse bg-light" id="navbarCourses">
    <div class="container-fluid">
      <div class="row">
        <!-- Miniaturas de clases -->
        <app-class-thumbnail #classmin ></app-class-thumbnail>
      </div>
    </div>
    <hr>
    <div class="container text-center">
      <button class="btn btn-primary">Agregar curso</button>
    </div>
    <hr class="mb-0">
  </div>

  <!-- Area colapsable de los instructores -->
  <div class="collapse bg-light" id="navbarInstructors">
    <app-instructor-list (instructorId)="cargarClases($event)"></app-instructor-list>
  </div>

<main>
  <app-class-detail #classdetail (idClase)="mostrarDetalles($event)"></app-class-detail>
  <app-class-content #classcontent ></app-class-content>
  <app-class-list></app-class-list>
  <app-assigments></app-assigments>

</main>
